AI Research Brief Generator.json
{
  "name": "AI Research Brief Generator",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -176,
        16
      ],
      "id": "ed799832-2bbd-4d28-9cc0-57f5d8fec5c9",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1EEc6nu_nj3-cnX9Q3a0xwa-zULNw1_ilmYQCzckKEvk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1192733904,
          "mode": "list",
          "cachedResultName": "Copy of Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EEc6nu_nj3-cnX9Q3a0xwa-zULNw1_ilmYQCzckKEvk/edit#gid=1192733904"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Processed"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        16,
        16
      ],
      "id": "4db9ca68-df90-450f-a245-3cfcebe3d1b1",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "FMDnayG2maj5XcFn",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "224bbcb2-bd35-4797-a00d-5312bb1b9f79",
              "leftValue": "={{ ($json[\"Processed\"] ?? \"\").trim() === \"\" }}\n",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        240,
        16
      ],
      "id": "d85bb98e-e891-4a7c-9a5c-3526c3320888",
      "name": "If"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        544,
        0
      ],
      "id": "ee8c6695-7098-489d-8a92-028d6202eacf",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "url": "={{$json[\"URL\"]}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        800,
        16
      ],
      "id": "a2d2feda-42ac-4ffb-9ca0-3e8e5678b803",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "26f7b587-3673-4f76-9e38-e5d1e82a5622",
              "name": "articleText",
              "value": "={{$json[\"data\"].slice(0,12000)}}\n",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1040,
        16
      ],
      "id": "b4e898dd-866e-40a3-b4e1-1eb5f61e5b25",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "claude-3-haiku-20240307",
          "mode": "list",
          "cachedResultName": "claude-3-haiku-20240307"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a strategy analyst.\n\nCreate a structured research brief from the article below.\n\nReturn exactly these sections:\n\nExecutive Summary:\n- 5 concise bullet points\n\nKey Themes:\n- 3 to 5 themes\n\nStrategic Risks:\n- 2 to 3 risks\n\nOpportunities:\n- 2 to 3 strategic opportunities\n\nLinkedIn Angles:\n- 2 short post angles\n\nArticle:\n{{$json.articleText}}\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "typeVersion": 1,
      "position": [
        1216,
        16
      ],
      "id": "9695b5b5-ebec-4eeb-96ea-646cd9d83319",
      "name": "Message a model",
      "retryOnFail": true,
      "alwaysOutputData": true,
      "credentials": {
        "anthropicApi": {
          "id": "CxLHp6tXptZ5V2cf",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const full = ($json.content?.[0]?.text || \"\").trim();\n\nfunction getSection(title) {\n  const re = new RegExp(`${title}:\\\\s*([\\\\s\\\\S]*?)(?=\\\\n[A-Za-z][A-Za-z\\\\s]*:\\\\s*|$)`, \"i\");\n  const m = full.match(re);\n  return m ? m[1].trim() : \"\";\n}\n\n// ✅ IMPORTANT: pick the matching row from Get row(s) using the current item index\nconst source = $items(\"Get row(s) in sheet\")[$itemIndex].json;\n\nreturn [\n  {\n    json: {\n      row_number: source.row_number,\n      URL: source.URL,\n\n      executive_summary: getSection(\"Executive Summary\"),\n      key_themes: getSection(\"Key Themes\"),\n      strategic_risks: getSection(\"Strategic Risks\"),\n      opportunities: getSection(\"Opportunities\"),\n      linkedin_angles: getSection(\"LinkedIn Angles\"),\n\n      processed: \"YES\",\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        16
      ],
      "id": "564ebdfa-d495-4ffe-adbb-8a71434aa039",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1EEc6nu_nj3-cnX9Q3a0xwa-zULNw1_ilmYQCzckKEvk",
          "mode": "list",
          "cachedResultName": "Copy of AI Research Brief Generator - copy",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EEc6nu_nj3-cnX9Q3a0xwa-zULNw1_ilmYQCzckKEvk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1192733904,
          "mode": "list",
          "cachedResultName": "Copy of Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EEc6nu_nj3-cnX9Q3a0xwa-zULNw1_ilmYQCzckKEvk/edit#gid=1192733904"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{$json.row_number}}\n",
            "Executive Summary": "={{$json.executive_summary}}",
            "Key Themes": "={{$json.key_themes}}",
            "Strategic Risks": "={{$json.strategic_risks}}",
            "Opportunities": "={{$json.opportunities}}",
            "LinkedIn Angles": "={{$json.linkedin_angles}}",
            "Processed": "={{$json.processed}}\n"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Executive Summary",
              "displayName": "Executive Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Key Themes",
              "displayName": "Key Themes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Strategic Risks",
              "displayName": "Strategic Risks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Opportunities",
              "displayName": "Opportunities",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LinkedIn Angles",
              "displayName": "LinkedIn Angles",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Processed",
              "displayName": "Processed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1760,
        16
      ],
      "id": "90f37003-e45e-40e1-9a4b-1780205d0fd7",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "FMDnayG2maj5XcFn",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "e5c4a151-15ea-4ef1-9b6b-90693d1e57b4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4a81b88bde22ef14082e6bb15f21c470fd95f13d34369e3894eeafbc3dc5d0a8"
  },
  "id": "0RZzsSqaGf_NtBFU2PrOw",
  "tags": []
}